.s-hero {
  width: 100%;
  height: 78.6rem;
  background: url('../img/bg-hero.svg') no-repeat center center;
  padding-top: 17.5rem;

  .container {
    @include flex(row, flex-start, space-between);
  }

  .text {
    width: 100%;
    max-width: 68.4rem;

    h3 {
      opacity: 0.8;
      font-weight: 600;
      color: #ffffff;
      margin-bottom: 3.2rem;
    }

    h1 {
      color: #ffffff;
      margin-bottom: 3.9rem;
    }

    ul {
      width: 100%;
      max-width: 62.1rem;
      margin-top: 6.4rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      li {
        display: flex;
        align-items: center;
        gap: 1.2rem;

        .icon {
          width: 4.8rem;
          height: 4.8rem;
          background: linear-gradient(
            180deg,
            rgba(53, 203, 226, 0.4) 0%,
            rgba(53, 202, 226, 0) 100%
          );
          border-radius: 50%;
          @include flex(row, center, center);
        }

        span {
          font-size: 1.8rem;
          line-height: 2.2rem;
          color: #ffffff;
        }
      }
    }
  }

  .area-image {
    width: 100%;
    max-width: 70.6rem;
    margin-right: -17.4rem;

    h2 {
      margin-bottom: 6.7rem;
      text-align: center;
      color: #ffffff;
      opacity: 0.4;
      font-weight: 600;
    }

    .image {
      position: relative;
      width: 100%;
      height: 54.1rem;
      top: 4.3rem;

      img {
        position: absolute;
      }

      .circle {
        top: 2.8rem;
        right: 4.3rem;
      }

      .card-front {
        top: 4.1rem;
        left: 0;
        z-index: 2;
      }

      .card-back {
        bottom: 4.6rem;
        right: 8.6rem;
        z-index: 1;
      }
    }
  }
}

.s-card-neon {
  padding-top: 12.9rem;

  .container {
    @include flex(row, flex-start, space-between);
  }

  .left-area {
    width: 100%;
    max-width: 27.7rem;

    .ilustra-mockup {
      position: relative;
      width: 100%;
      max-width: 27.7rem;
      margin-bottom: 12.9rem;

      .circle {
        position: absolute;
        left: -21.4rem;
        top: 8.7rem;
        z-index: -1;
        max-width: 37.7rem;
      }

      .mockup {
        z-index: 2;
      }
    }

    .text {
      @include flex(column, center, center);

      .info-txt {
        @include flex(column, center, center);

        h3 {
          font-family: 'Poppins';
          text-align: center;
          color: $gray-600;
          margin-top: 3.6rem;
        }

        p {
          font-weight: 400;
          font-size: 1.6rem;
          line-height: 150%;
          text-align: center;
          color: $gray-400;
          opacity: 0.8;
          margin-bottom: 2.6rem;
        }

        ul {
          li {
            &:not(:last-child) {
              margin-bottom: 1.3rem;
            }
          }
        }
      }

      .icon {
        position: relative;

        &:before {
          content: '';
          width: 0.5rem;
          height: 8.3rem;
          background: url('../img/points.svg') center center;
          display: inline-block;
          position: absolute;
          top: -10.4rem;
          left: 50%;
          margin-left: -0.25rem;
        }
      }
    }
  }

  .right-area {
    width: 100%;
    max-width: 80rem;

    .main-text {
      margin-bottom: 14.4rem;
      h2 {
        font-weight: 700;
        color: $gray-600;
        max-width: 49.9rem;
        margin-bottom: 5.3rem;
      }

      ul {
        li {
          @include flex(row, center, space-between);
          border-bottom: 1px solid rgba(226, 224, 232, 0.9);
          padding: 3.3rem 0;
          margin-bottom: 3.2rem;

          &:first-child {
            padding-top: 0;
          }

          .info {
            @include flex(row, center, center);
            gap: 4.3rem;

            .txt {
              h3 {
                color: $gray-400;
              }

              p {
                font-weight: 400;
                font-size: 1.8rem;
                line-height: 150%;
                color: $gray-300;
              }
            }
          }
        }
      }

      .btn {
        position: relative;
        display: inline-block;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 112%;
        letter-spacing: -0.5px;
        color: $brand-blue;

        &:after {
          position: absolute;
          bottom: 0;
          right: -1.8rem;
          content: '';
          margin-left: 0.8rem;
          width: 1rem;
          height: 0.3rem;
          background-color: $brand-yellow;
          display: inline-block;
        }
      }
    }

    .box-card {
      height: 41rem;
      width: 100%;
      background: url('../img/bg-box-card-neon.svg') center center no-repeat;
      border-radius: 1.2rem;
      @include flex(row, center, space-between);
      padding-left: 5.9rem;

      .text {
        width: 100%;
        max-width: 38rem;
        h2 {
          font-family: 'Poppins';
          color: #ffffff;
          margin-bottom: 1.1rem;
        }

        h3 {
          font-family: 'Poppins';
          line-height: 150%;
          max-width: 32.7rem;
          color: #ffffff;
          margin-bottom: 0.8rem;
        }

        p {
          max-width: 32.7rem;
          font-family: 'Inter';
          font-size: 1.6rem;
          line-height: 150%;
          color: #ffffff;
          margin-bottom: 0.7rem;
        }

        .btns {
          @include flex(row, center, flex-start);
          gap: 1.6rem;
        }
      }

      .image {
        margin-right: -3.1rem;
      }
    }
  }
}

.s-depoimentos {
  padding-top: 13.4rem;

  .top {
    @include flex(row, flex-end, space-between);
    margin-bottom: 4rem;
    h2 {
      span {
        display: block;
        font-family: 'Poppins';
        color: $gray-200;
        margin-bottom: 1.4rem;
      }
    }

    .swiper-pagination {
      position: relative;
      width: auto;

      &-bullet {
        background-color: $brand-yellow;
        width: 1.8rem;
        height: 1.7rem;
        opacity: 0.3;
        border-radius: 1.2rem;
        transition: all 0.3s;

        &:not(:first-child) {
          margin-left: 0.4rem;
        }

        &-active {
          width: 2.7rem;
          background: #ffc800;
          opacity: 100;
        }
      }
    }
  }

  .slide-depoimentos {
    overflow: hidden;
  }
}

.s-conta-digital {
  padding-top: 12.7rem;
  padding-bottom: 8.5rem;

  .container {
    @include flex(row, center, space-between);

    .text {
      width: 100%;
      max-width: 54.2rem;

      h2 {
        color: $gray-600;
        margin-bottom: 4.5rem;
        span {
          display: block;
          font-family: 'Poppins';
          font-weight: 600;
          font-size: 4rem;
          line-height: 112%;
          letter-spacing: -1px;
          color: rgba(198, 197, 206, 0.8);
          margin-bottom: 0.9rem;
        }
      }

      ul {
        margin-bottom: 6.1rem;
        li {
          @include flex(row, center, flex-start);
          gap: 2.6rem;
          margin-bottom: 4.5rem;

          .icon {
            width: 4.5rem;
            height: 4.5rem;
            background: #00d7d7;
            border-radius: 0.8rem;
            @include flex(row, center, center);
          }

          .info {
            h4 {
              color: $gray-400;
              margin-bottom: 0.4rem;
            }

            p {
              font-size: 1.8rem;
              line-height: 150%;
              color: $gray-300;
            }
          }
        }
      }
    }

    .image {
      position: relative;
      width: 100%;
      max-width: 71.2rem;
      height: 59.8rem;
      margin-right: -38px;
      left: 125px;

      img {
        position: absolute;

        &.mocukup-01 {
          left: 0;
          bottom: 4.7rem;
        }

        &.mockup-02 {
          left: 25.8rem;
          top: 0.3rem;
        }

        &.circle {
          right: 0;
          bottom: 0;
        }
      }
    }
  }
}
